<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <img src="../assets/img/template.gif" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 99;width: 135px;margin-top: 15%;" *ngIf="loading">
      <div class="card" *ngIf="!verDatos">
        
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Proveedores
          <div style="text-align:right">
            <button type="button" class="btn btn-success" (click)="ver(0)">Agregar un proveedor</button>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group form-black label-floating is-empty">
               <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
              <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
               <br>
          </div>
          <table class="table table-striped">
            <thead>
              <th>id</th>
              <th>Razon Social</th>
              <th>CUIT</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Estado Proveedor</th>
              <th></th>
            </thead>
            <tbody>
               <tr *ngFor="let item of items">
                  
                  <td>{{item.id}}</td>
                  <td>{{item.razon_social}}</td>
                  <td>{{item.cuit}}</td>
                  <td>{{item.telefono}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.estado}}</td>
                  <td><button type="button" class="btn btn-secondary" (click)=ver(item)>Ver</button></td>
               </tr>
            </tbody>
          </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
              <div class="btn-group">
                 <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
              </div>
              <div class="btn-group pull-right">
                 <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()">Atrás</a></li>
                       <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                          <a (click)="setPage(page)" >{{page}} </a>
                       </li>
                    <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()">Siguiente</a></li>
                 </ul>
              </div>
            </div>
        </div>
      </div>

      <div style="width: 100%">
        <alert type="success" *ngIf="success" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Exito</strong> 
        </alert>
        <alert type="danger" *ngIf="fail" style="position: fixed;width: calc(100% - 262px);z-index: 99;top: 65px;text-align: center;">
          <strong>Ha ocurrido un Error!</strong> 
        </alert>
      </div>

      <div class="card" *ngIf="verDatos">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Información del proveedor
          <div style="text-align: right;">
            <button type="button" class="btn btn-success" (click)=volver()>Volver</button> 
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Razón Social</label>
                    <input type="text" class="form-control" id="razon_social" placeholder="" [(ngModel)]="proveedor.razon_social">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="ccnumber">Nombre de Fantasia</label>
                    <input type="text" class="form-control" id="nombre_fantacia" placeholder="" [(ngModel)]="proveedor.nombre_fantacia">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="ccnumber">CUIT</label>
                    <input type="text" class="form-control" id="cuit" placeholder="" [(ngModel)]="proveedor.cuit">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="" [(ngModel)]="proveedor.telefono">
                    <button style="text-align:right" type="button" class="btn btn-outline-success">+</button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="" [(ngModel)]="proveedor.email">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="" [(ngModel)]="proveedor.direccion">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ccnumber">Forma de pago</label>
                    <input type="text" class="form-control" id="formaPago" placeholder="" [(ngModel)]="proveedor.formaPago">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="ccnumber">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="" [(ngModel)]="proveedor.estado">
                  </div>
                </div>
                <!-- <div class="col-sm-3">
                  <div class="form-group">
                    <label for="ccnumber">Habilitado</label>
                    <input type="text" class="form-control" id="habilitado" placeholder="habilitado" [(ngModel)]="proveedor.habilitado">
                  </div>
                </div> -->
                <div class="col-sm-2">
                    <label for="ccnumber">Habilitado</label>
                    <label class="switch switch-3d switch-success">
                      <input type="checkbox" class="switch-input" [(ngModel)]="proveedor.habilitado" >
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                </div> 
                <div class="col-sm-3">
                  <div class="form-group" *ngIf="!proveedor.habilitado">
                    <label for="ccnumber">Motivo</label>
                    <input type="text" class="form-control" id="motivo" placeholder="" [(ngModel)]="proveedor.motivo">
                  </div>
                </div> 
              </div><!--/.row-->
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-sm-12">
                  <strong>Productos del proveedor</strong>
                  <table class="table table-bordered">
                    <thead>
                      <th>Nombre</th>
                      <th>Eliminar</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let it of proveedor.productos">
                          <td>{{it.nombre}}</td>
                          <td><button type="button" class="btn btn-danger" (click)=eliminarProducto(it)>X</button></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <button type="button" class="btn btn-success" (click)=editar() *ngIf="!crear">Editar productos del proveedor</button> 
            <button type="button" class="btn btn-success" (click)=crearProveedor() *ngIf="crear">Crear proveedor</button> 
          </div>
        </div>
    </div>
    <div class="card" *ngIf="verDatos">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de productos que puedes agrear al proveedor
          
        </div>
        <div class="card-body">
          <div class="form-group form-black label-floating is-empty">
               <label class="labels" style="font-size: 18px; font-weight: bold">Buscar: </label>
              <input  class="form-control" type="text"  id="inputName" [(ngModel)]="inputName2" (ngModelChange)="FilterByName2()"/>
               <br>
          </div>
          <table class="table table-striped">
            <thead>
              <th>stock</th>
              <th>nombre</th>
              <th>Precio</th>
              <th>Código</th>
              <th></th>
            </thead>
            <tbody>
               <tr *ngFor="let item2 of items2">
                  
                  <td>{{item2.stock}}</td>
                  <td>{{item2.nombre}}</td>
                  <td>{{item2.precio}}</td>
                  <td>{{item2.codigo}}</td>
                  <td><button type="button" class="btn btn-primary" (click)=agregar(item2)>Agregar producto</button></td>
               </tr>
            </tbody>
          </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
              <div class="btn-group">
                 <label style="margin-top:10px">Página {{currentIndex2}}/{{pageNumber2}} </label>
              </div>
              <div class="btn-group pull-right">
                 <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex2 == 1 || pageNumber2 == 0)}" ><a  (click)="prevPage2()">Atrás</a></li>
                       <li *ngFor="let page2 of pagesIndex2"  [ngClass]="{'active': (currentIndex2 == page2)}">
                          <a (click)="setPage2(page2)" >{{page2}} </a>
                       </li>
                    <li [ngClass]="{'disabled': (currentIndex2 == pageNumber2 || pageNumber2 == 0)}" ><a   (click)="nextPage2()">Siguiente</a></li>
                 </ul>
              </div>
            </div>
            
        </div>
      </div>

    </div>
  </div>
</div>