agm-map {
  height: 300px;
}
.btn-warning {
    color: #fff;
    background-color: #5ab0bc;
    border-color: #5ab0bc;
    margin-top: 10px;
}
.icon-picture, .icon-ok{
	margin-right: 5px;
}
.text-title{
	text-transform: uppercase !important;
	font-size: 25px !important;
	font-weight: 300;
	color: #4da7b9;
}
.text-info1{
	font-size: 13px;
    text-align: justify;
    color: #607D8B;
}
h4, .h4 {
    font-size: 17px; 
}
.text-center{
	text-align: center;
}
.text-eje{
	font-size: 12px;
    color: #607D8B;
}
.button-file{
	opacity: 0;
    position: absolute;
    margin-top: 10px;
}
.img-empresa{
	height: 200px;
    width: 200px;
}
.title-user{
    color: #546e7a;
    text-transform: capitalize;
    font-weight: 500;
}
.danger{
	border: 1px solid #c71717;
}