<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Datos de la Empresa 
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de la empresa">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email de la empresa">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="Teléfono de la empresa">
                  </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                <div class="form-group col-sm-3">
                  <label for="estado">Estado</label>
                  <select class="form-control" id="estado" (change)="setEstado($event)">
                    <option [value]="estado.estado" *ngFor = "let estado of estados">{{estado.estado}}</option>
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <label for="municipio">Municipio</label>
                  <select class="form-control" id="municipio" (change)="setMunicipio($event)">
                    <option [value]="municipio.municipio" *ngFor = "let municipio of municipios">{{municipio.municipio}}</option>
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <label for="ciudad">Ciudad</label>
                  <select class="form-control" id="ciudad" (change)="setCiudad($event)">
                    <option [value]="ciudad.ciudad" *ngFor = "let ciudad of ciudades">{{ciudad.ciudad}}</option>
                  </select>
                </div>
                <div class="form-group col-sm-3">
                  <label for="colonia">Colonia</label>
                  <select class="form-control" id="colonia" (change)="setColonia($event)">
                    <option [value]="colonia.asentamiento" *ngFor = "let colonia of colonias">{{colonia.asentamiento}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="text-align:center">
              <img src="assets/img/avatars/p.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
              <div>
                <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-dot-circle-o"></i> Seleccionar imagen</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div><!--/.row-->
</div>
