<ng4-loading-spinner> </ng4-loading-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> SUCURSALES DE LA EMPRESA 
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th></th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let sucursal of sucursales">
                <td><img src="{{sucursal.logo}}" alt="imagen_sucursal" class="img_logo"></td>
                <td>{{sucursal.nombre}}</td>
                <td>{{sucursal.direccion}}</td>
                <td>
                  <i class="icon-pencil clear-icon"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
