.modal-dialog{
    max-width: 800px !important;
}
.title-item {
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: uppercase !important;
    font-weight: 500;
    color: #4da7b9;
}
hr{
    margin-top: 5px;
}
.mb-0{
    margin-bottom: 0px !important;
}
.modal-title {
    margin-bottom: 0px;
    line-height: 17px;
    text-transform: uppercase;
    font-size: 17px;
}
.danger{
    border: 1px solid #c71717;
}
.btn-primary {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn-secondary{
    color: #607D8B;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.icon-pencil{
    margin-right: 5px;
}
.edit-icon{
    font-size: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: #3d90b7;
    margin: 5px 0px;
}
.edit-icon:hover{
    color: #494588;
}
.delete-icon{
    font-size: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: #3d90b7;
    margin: 5px 0px;
}
.delete-icon:hover{
    color: #ea5465;
}
label{
    font-size: 14px;
    color: #607D8B;
}
.pb-35{
    padding-top: 35px;
    text-align: center;
}
.content-sucursal{
    height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 15px;
    padding-top: 55px;
}
.select-div{
    position: fixed;
    margin-top: -55px;
    background-color: #f1f3f5;
    width: 85.2%;
    margin-left: -15px;
    z-index: 999;
    padding-top: 10px;
    text-align: left;
}
.content-icon{
    width: 100%;
    height: calc(100% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
}
.modal-body{
    padding: 15px 35px;
}
.td-button{
    width: 250px;
    text-align: center;
}
.text-delete{
    font-size: 13px;
    text-align: justify;
    color: #ea5465;
}
:host /deep/ .ngx-datepicker-input {
    width: 100% !important;
}
:host /deep/ .day-unit.is-selected {
    background: #3F51B5 !important;
}
.p-range{
    padding: 0px 40px;
}
.content-gender{
    display: flex;
    flex-direction: row;
}
.content-itemg{
    margin: 0px 5%;
    width: 60px;
    height: 47px;
    text-align: center;
    cursor: pointer;
}
.item-gender{
    width: 39px;
    height: 29px;
    border: 2px solid #3F51B5;  
    border-radius: 4px;
    color: #3F51B5;
    font-weight: 600;
    font-size: 16px;
    margin: auto;
    margin-bottom: 3px;
    padding-top: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.content-itemg p{
    margin-bottom: 0px;
    font-size: 12px;
    color: #607D8B;
}
.active-gen{
    background-color: #3F51B5;
    color: #fff;  
}
.active-p{
    color: #3f51b5 !important;
}
.active-tipo{
  background-color: #85d7dd !important;
}
.btn-select{
  color: #fff;
  background-color: #5ab0bc;
  border-color: #5ab0bc;
  cursor: pointer;
}
.text-info1{
    font-size: 13px;
    text-align: justify;
    color: #607D8B;
}
.pb-35{
    padding-top: 35px;
    text-align: center;
}
.content-sucursal{
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
  padding: 15px;
}
.content-preferences{
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}
.content-icon{
    width: 100%;
  height: calc(100% - 19px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e5e6;
  border-radius: 4px;
}
.div-icon{
    height: 130px;
    padding: 10px 30px;
}
.content-tag{
  border: 1px solid #c2cfd6;
  width: 100%;
}
.input-tag{
  padding: 5px 12px 0px;
  border: 1px solid #c2cfd6;
  width: 100%;
  min-height: 43px;
}
.item-tag{
  margin-bottom: 0px;
  background-color: #3f51b5;
  color: #fff;
  padding: 6px 18px;
  border-radius: 50em;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 6px;
}
.item-tag:hover{
  background-color: #4da7b9; 
  box-shadow: 0 2px 3px 1px #d4d1d1;
}
.img-tag{
  width: 10px;
  height: 10px;
  margin-left: 7px;
  position: relative;
  top: -1px;
  transition: all 0.35s;
}
.img-tag:hover{
  transform: scale(1.5);
}
ul {
  column-count: 2;
  column-gap: 0;
  width: 100%;
  list-style: none;
}
li {
  display: inline-block;
  min-width: 300px;
  width: 50%;
}
.nav-tabs .nav-link.active{
  border-top-left-radius: 10px !important;
}
