agm-map {
  height: 300px;
}
.btn-warning {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn-upload{
    color: #fff;
    background-color: #5ab0bc;
    border-color: #5ab0bc;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.icon-picture, .icon-ok{
    margin-right: 5px;
}
.text-title{
    text-transform: uppercase !important;
    font-size: 25px !important;
    font-weight: 300;
    color: #4da7b9;
}
.text-info1{
    font-size: 13px;
    text-align: justify;
    color: #607D8B;
}
h4, .h4 {
    font-size: 17px; 
}
.text-center{
    text-align: center;
}
.text-eje{
    font-size: 12px;
    color: #607D8B;
}
.button-file{
    opacity: 0;
    position: absolute;
    margin-top: 10px;
}
.img-empresa{
    height: 180px;
    width: 180px;
    margin-top: 5px;
    border: 2px solid #c2cfd6;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.title-user{
    color: #546e7a;
    text-transform: capitalize;
    font-weight: 500;
}
.danger{
    border: 1px solid #c71717;
}
.clear-icon{
    font-size: 20px;
    color: #33444c;
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
    cursor: pointer;
}
.content-imgs{
    height: 220px;
    border: 1px solid #ccc;
    padding: 20px 45px;
    position: relative;
}
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 100%; 
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.slider li {
    width: 240px;
    list-style: none;
    height: 100%;
    margin-right: 35px;
    text-align: right;
}
.img-slider {
    height: 87%;
    width: 240px;
    position: relative;
    top: -10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.clear-image{
    width: 20px;
    height:20px;
    font-weight: bold;
    float: right;
    margin-right: -10px;
    cursor: pointer;
    z-index: 5;
    position: relative;
}
.left-slider{
    background-color: rgba(241, 243, 245, 0.85);
    position: absolute;
    margin-left: -45px;
    height: 218px;
    margin-top: -20px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #5ab0bc;
    font-weight: bold;
    z-index: 9;
}
.right-slider{
    background-color: rgba(241, 243, 245, 0.85);
    position: absolute;
    right: 0;
    height: 218px;
    margin-top: -20px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #5ab0bc;
    font-weight: bold;
    float: right;
    z-index: 9;
}
.content-spiner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 99;
}
